<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tekken7trivia">

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="Tekken7Trivia"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:screenOrientation="portrait">
        <activity
            android:name="com.example.tekken7trivia.main.InfoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tekken7trivia.game.QuestionActivity"
            android:exported="true" />
        <activity
            android:name="com.example.tekken7trivia.game.ScoreActivity"
            android:exported="true" />
        <activity
            android:name="com.example.tekken7trivia.main.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>